:root {
	--primary-color: #994f08;
	--secondary-color: #c88239;
	--tertiary-color: #f5a570;
	--back-dark: rgb(225, 227, 222);
	--back-yellow-gray: rgb(250, 249, 244);
	--gray-text: rgb(114, 115, 120);
	--color-text: rgba(0, 0, 0, 0.7);
	--dark-text: rgb(24, 24, 22);
	--marron-text: rgb(147, 72, 4);
	--back-more-dark: #e0e1db;
	--bg-dark: #1a1a1a;
	--back-dark-blue: rgb(52, 92, 145);
	--back-light-blue: rgb(212, 227, 255);
	--back-yellow: rgb(250, 235, 216);
	--danger: rgb(235, 19, 19);
	--good: rgb(3, 174, 35);
	--big-title-size: 1.5rem;
	--little-big-title-size: 1.2rem;
	--title-size: 1rem;
	--text-size: 0.9rem;
	--small-text-size: 0.9rem;
	--big-title-weight: 800;
	--title-weight: 600;
	--text-weight: 400;
	--btn-weight: 400;
	--btn-hover-weight: 600;
	--btn-size: 0.95rem;
	--btn-hover-size: 1rem;
	--max-width: 95vw;
}

.moving-gradient-text {
	background: linear-gradient(
		90deg,
		var(--primary-color) 0%,
		var(--secondary-color) 51%,
		var(--tertiary-color) 100%
	);
	background-clip: text;
	color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: gradientMove 2s ease infinite;
}

.moving-gradient {
	background: linear-gradient(
		90deg,
		var(--primary-color) 0%,
		var(--secondary-color) 51%,
		var(--tertiary-color) 100%
	);
	animation: gradientMove 2s ease infinite;
}

.nav-link {
	color: var(--color-text);
	text-decoration: none;
	border-radius: 5px;
	text-align: center;
	font-size: 0.9rem;
}

.nav-link:hover {
	color: var(--primary-color);
}

.nav-link-container {
	display: flex;
	align-items: center;
	height: 50px;
	border: 1.5px solid transparent;
}

.nav-link-container:hover {
	height: 50px;
	color: var(--primary-color);
	border-bottom: 1.5px solid var(--primary-color);
	/* border-top: 1.5px solid var(--primary-color); */
}

@keyframes gradientMove {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
